In [1]:
print(4+56)

60

In [2]:
print("hhfjf")

hhfjf

In [3]:
print("jkrir")

jkrir

In [4]:
import numpy as np

In [5]:
import pandas as pd
import pandas as pd

In [9]:
df=pd.read_csv("/home/al-amin/Downloads/train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
df = pd.read_csv("/home/al-amin/dataScience/dashbord_streamlit/1st_dashbord/Superstore.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 2681: invalid start byte